<div class="box">
    <section class="tabs">
        <ul>
            <li [routerLinkActive]="['is-active']">
                <a [routerLink]="['/home']">Accueil</a>
            </li>
            <li [routerLinkActive]="['is-active']">
                <a [routerLink]="['/students']">Etudiants</a>
            </li>
            <li [routerLinkActive]="['is-active']">
                <a [routerLink]="['/teachers']">Enseignants</a>
            </li>
            <li [routerLinkActive]="['is-active']">
                <a [routerLink]="['/courses']">Cours</a>
            </li>
            <li [routerLinkActive]="['is-active']">
                <a [routerLink]="['/subscriptions']">Inscriptions</a>
            </li>
            <li [routerLinkActive]="['is-active']">
                <a [routerLink]="['/code']">Code</a>
            </li>
        </ul>
    </section>
</div>